:root {
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

  --heading-line-height: 1.2;
  --body-line-height: 1.4;

  /* spacing values */
  --space-unit: 1em;
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));

}

@screen md {
  :root {
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.25;
    --space-unit: 1.25em;
  }
}

body {
  @apply font-sans;
  @apply font-medium;
  @apply text-black;
  font-size: var(--text-base-size);
}

h1,
h2,
h3,
h4,
form legend {
  @apply text-blue-darker;
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1,
.text--xxl {
  font-size: var(--text-xxl);
}

h2,
.text--xl {
  font-size: var(--text-xl);
}

h3,
.text--lg {
  font-size: var(--text-lg);
}

h4,
.text--md {
  font-size: var(--text-md);
}

.text--sm,
small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}

a {
  @apply text-blue;
}

a:visited {
  @apply text-indigo-dark;
}

b,
strong {
  font-weight: bold;
}

.text-container h2,
h3,
h4 {
  margin-top: var(--space-sm);
}

.text-container ul,
ol,
p {
  margin-bottom: var(--space-md);
}

.text-container ul,
ol {
  list-style-position: outside;
  padding-left: 24px;
}

.text-container ul {
  list-style-type: disc;
}

.text-container ol {
  list-style-type: decimal;
}

.text-container ul li,
ol li {
  line-height: var(--body-line-height);
}

.text-container em {
  font-style: italic;
}

.text-container u {
  text-decoration: underline;
}

/* utility classes */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}